/* Future work make interactive such that flexbox design does not change
if user zoom in or out */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

p{
    font-size: 18px;
}

.header{
    background-color: #1f2937;
    color: white;
    padding: 0px 13%;

    flex: 1 0 5%;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

button{
    border: 1px solid white; 
}

.header h3{
    font-size:24px;
    color: #F9FAF8;

    flex: 2 0 60%;
    
}
.header ul{
    font-size: 18px;
    color: #E5E7EB;
    padding:0;

    flex: 0 0 40%;
    
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
.header li{
    flex: 0 3 auto;
    display: flex;
    justify-content: center;
}

.body{
    flex: 9 0 90%;
}

.section-1{
    padding: 60px 13%;
    background-color: #1f2937;
    color: white;

    display: flex;
}
.section-1 .subsection{
    flex: 1 1 50%;
    margin-right: 40px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-1 .subsection h1{
    font-size: 48px; 
    font-weight: 800;
    color: #F9FAF8;

    margin: 0;

}
.section-1 .subsection p{
    font-size: 18px;
    color: #E5E7EB;

    margin: 10px 0;

}
.section-1 .subsection button {
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 5px 24px;
    border-color: #3882F6;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 img{
    background-color: #e5e7eb9f;

    flex: 1 1 45%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 {
    padding: 60px 13%;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.section-2 h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.section-2 .subsection {
    padding-top: 20px;
    padding-bottom: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box .blue-box{
    border: 3px solid #3882F6;
    padding: 70px 78px;
    border-radius: 5px;

    flex: 1 1 auto;
}
.box .text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .text p {
    text-align: center; 
    
    flex: 0 0 185px;
}

.section-3{
    padding: 80px 13%;
    padding-bottom: 70px;
    background-color: #E5E7EB;

    /* display: flex; */
    /* flex-direction: column; */

    justify-content: center;
    align-items: center; 
}
.section-3 .quote{
    padding: 0 70px;
    font-size: 36px;
    font-weight: 300;
    font-style: oblique;
    color: #1f2937;
}
.section-3 .author{
    padding-right: 140px;
    font-weight: 800;
    text-align: right;
}

.section-4 {
    padding: 20px 13%;
    background-color: #F9FAF8;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4 .signup-box{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 20px 50px;

    flex: auto;

    display: flex;
} 

.section-4 .signup-box .text {
    flex: 0 0 70%
}

.signup-box h4 {
    font-size: 24px;
    margin: 0;
}

.signup-box p {
    font-size: 18px;
}

.section-4 .signup-box  button{
    background-color: #3882F6;
    color: #F9FAF8;

    border-color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 24px;

    flex: 0 0 30%;
}
.footer{
    padding: 10px 13%;
    background-color: #1f2937;
    color: white;

    flex: 1 0 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}